In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('train_csv.csv')

In [14]:
df.head()

,ID,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,...,Job Code,Job,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class
0,9248,Fiscal,2017,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,2905,Senior Eligibility Worker,41351,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2
1,44541,Fiscal,2014,6,General Administration & Finance,ASR,ASR Assessor / Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",4200,...,4222,Sr Personal Property Auditor,41792,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2
2,47031,Fiscal,2014,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,2910,Social Worker,9357,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2
3,139416,Fiscal,2014,1,Public Protection,FIR,FIR Fire Department,798,"Firefighters - Miscellaneous, Local 798",H000,...,H002,Firefighter,28022,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3
4,123780,Fiscal,2013,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,790,"SEIU - Miscellaneous, Local 1021",1600,...,1224,Pr Payroll & Personnel Clerk,51052,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3

In [15]:
df.dtypes

ID                           int64
Year Type                   object
Year                         int64
Organization Group Code      int64
Organization Group          object
Department Code             object
Department                  object
Union Code                   int64
Union                       object
Job Family Code             object
Job Family                  object
Job Code                    object
Job                         object
Employee Identifier          int64
Overtime                   float64
Other Salaries             float64
Retirement                 float64
Health/Dental              float64
Other Benefits             float64
Total Benefits             float64
Class                        int64
dtype: object

In [8]:
df.shape

(149087, 21)

In [12]:
df['Class'].mode()

0    3
dtype: int64

In [16]:
df['Total Benefits'].mean()

26411.47983995903

In [39]:
df['Organization Group Code'].mode()

0    2
dtype: int64

In [37]:
df['Total Benefits'].median()

30311.56

In [22]:
df['Union'].mode()

0    SEIU - Miscellaneous, Local 1021
dtype: object

In [26]:
df.groupby('Class')['Overtime'].mean()

Class
1     480.957099
2    4363.602698
3    8516.718521
Name: Overtime, dtype: float64

In [30]:
df.groupby('Class')['Total Benefits'].mean()

Class
1     6029.042161
2    29526.365615
3    42894.981694
Name: Total Benefits, dtype: float64

In [32]:
df['Job'].mode()

0    Transit Operator
dtype: object

In [46]:
df.groupby('Class')['Job'].value_counts()

Class  Job
1      Special Nurse                          3706
       Public Svc Aide-Public Works           2922
       Public Service Trainee                 2823
       Recreation Leader                      2570
       Transit Operator                       2435
       Library Page                            925
       Police Officer                          823
       Junior Clerk                            803
       Stdntdsgntrain1, Arch/Eng/Plng          792
       Custodian                               781
       PS Aide To Prof                         744
       Publ Svc Aide-Asst To Prof              718
       School Crossing Guard                   678
       Patient Care Assistant                  650
       Clerk                                   574
       Eligibility Worker                      498
       Registered Nurse                        483
       Pool Lifeguard                          479
       Camp Assistant                          461
       Senior Clerk                            442
       Museum Guard                            422
       Porter                                  416
       Police Officer 3                        407
       Food Service Worker                     381
       Stdntdsgn Train2/Arch/Eng/Plng          361
       Stdntdsgntrain3, Arch/Eng/Plng          342
       Senior Eligibility Worker               328
       General Laborer                         324
       PS Aide Health Services                 315
       Licensed Vocational Nurse               253
                                              ...
3      Management Assistant II (OCII)            1
       Manager Of Museum Security Services       1
       Marina Associate Manager                  1
       Mayoral Staff XII                         1
       Municipal Stadium Groundskpr              1
       Parking Hearing Supervisor                1
       Physician Administrator, DPH              1
       Principal Clerk                           1
       Respiratory Care Practitioner             1
       Roofer Supervisor 1                       1
       Senior Collections Officer                1
       Senior Maintenance Controller             1
       Senior Pharmacy Helper                    1
       Senior Social Worker                      1
       Senior Statistician                       1
       Special Assistant 13                      1
       Special Assistant 15                      1
       Special Assistant 16                      1
       Specialist In Aging 2                     1
       Sr Da Investigator(SFERS)                 1
       Sr General Utility Mechanic               1
       Sr Sprv Prob Ofc, Juv Prob                1
       Supervising Mediator, UFCS                1
       Surgical Procedures Technician            1
       Technology Expert I                       1
       Track Maint Supt, Muni Railway            1
       Training Coordinator                      1
       Transit Paint Shop Sprv1                  1
       Undersheriff                              1
       Water Meter Shop Supervisor 1             1
Name: Job, Length: 2650, dtype: int64

In [47]:
df.groupby(['Class', 'Department'])['Department'].count()

Class  Department
1      AAM Asian Art Museum                119
       ADM Gen Svcs Agency-City Admin     1358
       ADP Adult Probation                 143
       AIR Airport Commission             1865
       ART Arts Commission                  53
       ASR Assessor / Recorder             226
       BOA Board Of Appeals - PAB           23
       BOS Board Of Supervisors            185
       CAT City Attorney                   103
       CFC Children & Families Commsn       18
       CHF Children;Youth & Families       119
       CII Commty Invest & Infrstrctr        8
       CON Controller                      285
       CPC City Planning                   351
       CRT Superior Court                  522
       CSC Civil Service Commission         22
       CSS Child Support Services           70
       DAT District Attorney               197
       DBI Building Inspection             258
       DEM Emergency Management            202
       DPH Public Health                 10215
       DPW GSA - Public Works             2015
       DT GSA - Technology                 293
       ECN Economic & Wrkfrce Dvlpmnt      116
       ENV Environment                     222
       ETH Ethics Commission                26
       FAM Fine Arts Museum                640
       FIR Fire Department                 666
       GEN General City / Unallocated      184
       HHP CleanPowerSF                      6
                                         ...
3      ETH Ethics Commission                23
       FAM Fine Arts Museum                 40
       FIR Fire Department                4690
       HHP CleanPowerSF                      1
       HHP Hetch Hetchy Water & Power      662
       HOM HOMELESSNESS SERVICES            20
       HRC Human Rights Commission          21
       HRD Human Resources                 290
       HSA Human Services Agency          2327
       HSS Health Service System            75
       JUV Juvenile Probation              249
       LIB Public Library                  581
       LLB Law Library                       5
       MTA Municipal Transprtn Agncy      4377
       MYR Mayor                           229
       PDR Public Defender                 398
       POL Police                         7393
       PRT Port                            502
       PUB Public Utilities Bureaus       1477
       REC Recreation & Park Commsn        560
       REG Elections                        26
       RET Retirement System               174
       RNT Rent Arbitration Board           58
       SCI Academy Of Sciences              22
       SHF Sheriff                        2666
       TTX Treasurer/Tax Collector         234
       WAR War Memorial                     71
       WOM Status Of Women                   9
       WTR Water Enterprise               1412
       WWE Wastewater Enterprise          1149
Name: Department, Length: 166, dtype: int64

In [58]:
df_class = df.loc[df['Class'] == 2]

In [59]:
df_class.groupby('Job')['Class'].count()

Job
Account Clerk                               214
Accountant I                                  5
Accountant II                               160
Accountant III                               84
Accountant IV                                23
Accountant Intern                            66
Accounting Supervisor (OCII)                  1
Acupuncturist                                 3
Admin Analyst 3                               2
Administrative Analyst                      241
Administrative Analyst II                     6
Administrative Engineer                       2
Administrative Services Mgr                   7
Administrator, Department Of Public Heal      1
Admission Attendant                          48
Agricultural Inspector                        6
Airport Communications Disp                  33
Airport Economic Planner                      1
Airport Electrician                           1
Airport Electrician Supervisor                3
Airport Emerg Planning Coord                  2
Airport Ground Transport Tech                 7
Airport Noise Abatement Spec                  8
Airport Operations Supervisor                 3
Airport Property Specialist 1                 6
Airport Safety Officer                       44
Airport Security ID Technician               14
Anesthetist                                  10
Animal Care Asst Supv                         4
Animal Care Attendant                        33
                                           ...
Utility Plumber Apprentice II                 3
Utility Plumber Supervisor 1                 12
Utility Plumber Supervisor 2                  4
Utility Specialist                           23
Victim/Witness Investigator 1                60
Victim/Witness Investigator 2                21
Victim/Witness Investigator 3                10
Volunteer/Outreach Coord                     23
Wastewater Control Inspector                  2
Water & Power Maint Sprv 1                    1
Water Conservation Admin                      1
Water Meter Repairer                         18
Water Operations Analyst                      3
Water Quality Tech III                       10
Water Qualitytech I/II                       70
Water Service Inspector                      13
Watershed Keeper                             77
Watershed Keeper Supervisor                   6
Welder                                       14
Welfare Fraud Investigator                    5
Wharfinger 1                                  3
Wharfinger 2                                  1
Window Cleaner                               47
Window Cleaner Supervisor                     1
Wire Rope Cable Maint Mechanic               10
Wireropecable Maint Mech Train                2
Worker's Comp Supervisor 1                    2
Worker's Compensation Adjuster               21
X-Ray Laboratory Aide                        81
Youth Comm Advisor                            2
Name: Class, Length: 909, dtype: int64

In [60]:
df.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits', 'Class'],
      dtype='object')

In [71]:
X = df[[x for x in df.columns if x not in ['ID', 'Year Type' , 'Year', 'Organization Group Code', 'Department Code' , 'Union Code', 'Union Code', 'Job Family Code', 'Job Code', 'Employee Identifier', 'Total Benefits', 'Class']]]
Y = df[['Class']]

In [72]:
X.head()

,Organization Group,Department,Union,Job Family,Job,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits
0,Human Welfare & Neighborhood Development,HSA Human Services Agency,"SEIU - Human Services, Local 1021",Human Services,Senior Eligibility Worker,0.00,240.00,11896.36,13765.55,5248.43
1,General Administration & Finance,ASR Assessor / Recorder,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Sr Personal Property Auditor,0.00,400.00,15429.94,9337.37,5599.01
2,Human Welfare & Neighborhood Development,HSA Human Services Agency,"SEIU - Human Services, Local 1021",Human Services,Social Worker,0.00,1080.00,9682.00,8848.03,3463.92
3,Public Protection,FIR Fire Department,"Firefighters - Miscellaneous, Local 798",Fire Services,Firefighter,25730.46,18414.18,24222.26,13911.13,2416.58
4,"Public Works, Transportation & Commerce",MTA Municipal Transprtn Agncy,"SEIU - Miscellaneous, Local 1021","Payroll, Billing & Accounting",Pr Payroll & Personnel Clerk,1138.28,2148.11,15437.62,12828.15,7246.54

In [73]:
Y.head()

   Class
0      2
1      2
2      2
3      3
4      3

In [76]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [75]:
le = LabelEncoder()
le.fit(X['Organization Group'])
X.loc[:, 'Organization Group'] = le.transform(X['Organization Group'])

D:\Python\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [79]:
X.head()

,Organization Group,Department,Union,Job Family,Job,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits
0,4,HSA Human Services Agency,"SEIU - Human Services, Local 1021",Human Services,Senior Eligibility Worker,0.00,240.00,11896.36,13765.55,5248.43
1,2,ASR Assessor / Recorder,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Sr Personal Property Auditor,0.00,400.00,15429.94,9337.37,5599.01
2,4,HSA Human Services Agency,"SEIU - Human Services, Local 1021",Human Services,Social Worker,0.00,1080.00,9682.00,8848.03,3463.92
3,5,FIR Fire Department,"Firefighters - Miscellaneous, Local 798",Fire Services,Firefighter,25730.46,18414.18,24222.26,13911.13,2416.58
4,6,MTA Municipal Transprtn Agncy,"SEIU - Miscellaneous, Local 1021","Payroll, Billing & Accounting",Pr Payroll & Personnel Clerk,1138.28,2148.11,15437.62,12828.15,7246.54

In [82]:
le = LabelEncoder()
le.fit(X['Department'])
X.loc[:, 'Department'] = le.transform(X['Department'])

le = LabelEncoder()
le.fit(X['Union'])
X.loc[:, 'Union'] = le.transform(X['Union'])


le = LabelEncoder()
le.fit(X['Job Family'])
X.loc[:, 'Job Family'] = le.transform(X['Job Family'])

le = LabelEncoder()
le.fit(X['Job'])
X.loc[:, 'Job'] = le.transform(X['Job'])

In [83]:
X.head()

,Organization Group,Department,Union,Job Family,Job,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Union
0,4,34,61,21,883,0.00,240.00,11896.36,13765.55,5248.43,61
1,2,5,55,6,1007,0.00,400.00,15429.94,9337.37,5599.01,55
2,4,34,61,21,957,0.00,1080.00,9682.00,8848.03,3463.92,61
3,5,27,18,17,442,25730.46,18414.18,24222.26,13911.13,2416.58,18
4,6,39,62,34,782,1138.28,2148.11,15437.62,12828.15,7246.54,62

In [84]:
from sklearn.ensemble import RandomForestClassifier

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
train_X, test_X, train_Y, test_Y = train_test_split(X,Y, test_size=0.2, random_state=42)

In [100]:
rf = RandomForestClassifier(n_estimators=500)
rf.fit(train_X, train_Y)
preds=rf.predict(test_X)

D:\Python\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [101]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [102]:
confusion_matrix(test_Y,preds)

array([[ 9598,   100,     3],
       [  100,  9612,   112],
       [    5,   156, 10132]], dtype=int64)

In [103]:
accuracy_score(test_Y, preds)

0.984036488027366