In [1]:
a =['banana' , 'apple' , 'Microsoft']

In [2]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
Microsoft
Microsoft

In [3]:
data = ['rohit' , 'anushka' , 'mohit']

In [4]:
for R in data:
    print (R)

rohit
anushka
mohit

In [5]:
D = [15,2,23,5]

In [6]:
total = 27
for F in D:
    print(F)
    total = total + F
print(total)

15
2
23
5
72

In [8]:
 c = list(range(1,6))
c

[1, 2, 3, 4, 5]

In [9]:
total2 =0
for i in range(1,6):
    total2 += i

In [10]:
total2

15

In [11]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [12]:
print(4 %3)

1

In [13]:
(6%2)

0

In [28]:
total3 = 0
for i in range(1,8):
    if i % 3 == 0:
        total3 += i

In [29]:
total3

9

In [30]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [1]:
for i in range(1,101):
    if i % 3 & 5 == 0
    print(i)

SyntaxError: invalid syntax (<ipython-input-1-be3b71186069>, line 2)

In [2]:
total6 = 0
j = 1
while j<5:
    total6 += j
    j += 1
total6

10